<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/Data/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="/Data/bootstrap/css/bootstrap.min.css"/>
    <script src="/Data/Jquery/jquery-3.2.0.min.js"></script>
    <script src="Data/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/CSS/stylesheet.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="Data/fonts/font-awesome.min.css"/>
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Propeller css -->
    <link href="/css/propeller.min.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>admin Login</title>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-default bg-faded navigationBar">
    <div class="container-fluid" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand NavigationBarMenuText">سیستم جامع گلستان</a>
        </div>
    </div>
    <script>
        $("#SignUp").on('click',function () {
            window.location = '/signup';
        });
    </script>
</nav>
<div class="login">
    <div class="col-md-3 col-sm-3 col-lg-4"></div>
    <div class="col-xs-12 col-md-7 col-sm-7 col-lg-4">
        <div class="panel-header">
            <h1>گلستان<br/><small>ورود به پنل ادمین</small></h1>
        </div>
        <div class="loginPanel">
            <!--<div class="col-sm-6 col-md-4">-->
            <!--<i class="fa fa-user-circle-o" aria-hidden="true" ></i>-->
            <!--</div>-->
            <div class="row">
                <div class="aaa"><i class="fa fa-user-circle-o fa-inverse"></i></div>
            </div>
            <form action="/admin" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="exampleInputUsername1" placeholder="Username"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password"/>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"/>
                        <p style="color: white"> مرا به خاطر بسپار</p>
                    </label>
                </div>
                <div class="link">
                    <label>
                        <a href="#" style="color: white;font-size: 12px">رمز خود را فراموش کرده اید؟</a>
                    </label>
                </div>
                <button type="submit" class="btn btn-block" style="background-color: #1d1e1f; color: white">ورود
                </button>
            </form>
            <br/>
        </div>
        <div class="panel-footer">
            <p><br/>One account for everyone in University</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4"></div>
</div>
</body>
</html>