<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>admin panel</title>
    <link rel="stylesheet" type="text/css" href="Data/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="Data/bootstrap/persianDatePicker/jquery.Bootstrap-PersianDateTimePicker.css"/>
    <link rel="stylesheet" type="text/css" href="Data/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="Data/timePickerPlugin/css/timepicki.css"/>
    <link rel="stylesheet" type="text/css" href="Data/icheckPlugin/flat/blue.css"/>
    <script src="Data/Jquery/jquery-3.2.0.min.js"></script>
    <script src="Data/bootstrap/js/bootstrap.js"></script>
    <script src="Data/timePickerPlugin/js/timepicki.js"></script>
    <script src="Data/bootstrap/persianDatePicker/jalaali.js"></script>
    <script src="Data/bootstrap/persianDatePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
    <script src="Data/icheckPlugin/icheck.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/PageStyle.css"/>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-default bg-faded navigationBar">
    <div class="container-fluid" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/admin" class="navbar-brand NavigationBarMenuText">سیستم جامع گلستان</a>
        </div>
        <div class="collapse navbar-collapse" id="navigationBar">
            <ul class="nav navbar-nav">
                <li><a href="/" th:utext="${session.name + ' ' + session.family}"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><img src="/Image/member-1.jpg" alt="UserImage" class="img-circle userImage"/></a></li>
                <li><button id="Logout" type="button" class="btn ButtonNav" aria-haspopup="true">خروج</button></li>
            </ul>
        </div>
    </div>
    <script>
        $("#Logout").on('click',function () {
            window.location = '/logout';
        })
    </script>
</nav>
<div class="container-fluid">
    <div class="containCourseEffortPage">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 courseEffort">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8">
                            <h1><strong>لیست کاربران</strong></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-1">نام کاربری</th>
                                    <th class="col-xs-2 col-sm-2 col-md-3 col-lg-1"> نام</th>
                                    <th class="col-xs-2 col-sm-2 col-md-3 col-lg-2">نام خوانوادگی</th>
                                    <th class="col-xs-2 col-sm-2 col-md-3 col-lg-1">نام پدر</th>
                                    <th class="col-xs-2 col-sm-2 col-md-3 col-lg-1">تاریخ تولد</th>
                                    <th class="col-xs-2 col-sm-2 col-md-3 col-lg-1">شماره ملی</th>
                                    <th class="col-xs-2 col-sm-2 col-md-3 col-lg-2">آدرس</th>
                                    <th class="col-xs-2 col-sm-2 col-md-3 col-lg-1">کد پستی</th>
                                    <th class="col-xs-2 col-sm-2 col-md-3 col-lg-1">رمز</th>
                                    <th class="col-xs-2 col-sm-2 col-md-3 col-lg-1">نقش</th>
                                    <th class="col-xs-2 col-sm-2 col-md-3 col-lg-1">ایجاد تغییرات</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <form action="/adminChangeInfo" method="post">
                                        <td><input type="text" class="form-control" name="username"  placeholder="username" th:value="${user.username}"/></td>
                                        <td><input type="text" class="form-control" name="name"  placeholder="name" th:value="${user.name}"/></td>
                                        <td><input type="text" class="form-control" name="familyName"  placeholder="familyName" th:value="${user.family}"/></td>
                                        <td><input type="text" class="form-control" name="fatherName"  placeholder="fatherName" th:value="${user.fatherName}"/></td>
                                        <td>
                                            <input type="text" id="birthDay" class="form-control" placeholder="" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#birthDay" data-groupid="group1" data-todate="true" data-enabletimepicker="false" data-placement="bottom" name="birthDay" th:value="${user.birthDay}"/>
                                        </td>
                                        <td><input type="text" class="form-control" name="nationalNumber"  placeholder="nationalNumber" th:value="${user.nationalNumber}"/></td>
                                        <td><textarea class="form-control" name="address"  placeholder="address" th:text="${user.address}"></textarea></td>
                                        <td><input type="text" class="form-control" name="postalCode"  placeholder="postalCode" th:value="${user.postalCode}"/></td>
                                        <td><input type="text" class="form-control" name="password"  placeholder="password" th:value="${user.password}"/></td>
                                        <td><input type="text" class="form-control" name="rol"  placeholder="rol" th:value="${user.roles}"/></td>
                                        <td><button class="btn btn-success" type="submit">Submit</button> </td>
                                    </form>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-4 rightToLeftّFloat"></div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 rightToLeftّFloat">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>